h1{

    color: blue;
    text-align: center;

}
#body{
    background-color: antiquewhite;
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiR29fNwrPhAhX6BGMBHUD7CcEQjRx6BAgBEAU&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttp%253A%252F%252Fwww.tokkoro.com%252F2981588-github-code-logo-open-source-versioning.html%26psig%3DAOvVaw03DWGYWK3pBjT0S_1Socvb%26ust%3D1554367015342997&psig=AOvVaw03DWGYWK3pBjT0S_1Socvb&ust=1554367015342997");

}